#articles_headline {
	margin-bottom: 12px;

	.title {
	  font-size: 24px;
	  font-weight: bold;
	  line-height: 1.33;
	  letter-spacing: 0.5px;
	  color: #e2689a;
	  text-transform: uppercase;
	  margin: 0 0 4px;

	  @include media-breakpoint-down(sm) {
	  	margin-bottom: 24px;
	  }
	}
	.description {
	  font-size: 14px;
	  line-height: 1.43;
	  letter-spacing: 0.2px;
	  color: #4a4a4a;
	  margin-bottom: 12px;

	  p {
	  	line-height: 1.43;

	  	&:last-of-type {
	  		margin: 0;
	  	}
	  }
	}
	.gray_btn {
		margin-bottom: 40px;
	}
	.orange_btn {
		margin-bottom: 24px;
	}
	.panel-list {
		display: flex;
		justify-content: flex-end;
		margin-bottom: 0;
	}
}

body.home #articles_headline {
	margin-bottom: 24px;
}
