#breadcrumbs {
	margin-bottom: 24px;

	.item {
		display: inline-block;

		span {
		  font-size: 12px;
		  letter-spacing: 0.4px;
		  text-align: center;
		  color: #0070d2;

		}
		&:not(:last-of-type) {
		  &:after {
		  	content: ">";
			  font-size: 12px;
			  letter-spacing: 0.4px;
			  text-align: center;
			  color: #0070d2;
		  }
		}
	}
}
