.google_btn,
.facebook_btn {
  @extend .btn_styles;

  line-height: 40px;
  border-radius: 4px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  i, img {
    margin-right: 5px;
  }
}

.google_btn {
  background-color: #fff;
  border: solid 1px #d8dde6;

  &:hover {
    background-color: #f2f2f2;
    color: #2c2c2c;
  }
}

.facebook_btn {
  background-color: #385499;
  color: #fff;

  i {
    color: #fff;
  }
  &:hover {
    color: #fff;
    background-color: darken(#385499, 5%);
  }
}

.transparent_btn {
  @extend .btn_styles;

  height: 40px;
  line-height: 40px;
  border-radius: 4px;
  border: solid 1px #fff;
  font-size: 14px;
  letter-spacing: 0.5px;
  color: #fff;
  padding: 0 80px;
  background: none;

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.gray_btn {
  @extend .btn_styles;

  font-size: 12px;
  letter-spacing: 0.4px;
  color: #0070d2;
  border: solid 1px #d8dde6;
  line-height: 32px;
  height: 32px;
  padding: 0 24px;
  border-radius: 4px;

  i {
    color: #0070d2;
    font-weight: normal;
    margin-right: 5px;
  }

  &:hover {
    background-color: #f2f2f2;
    color: #0070d2;
  }
}

.yes_btn,
.no_btn {
  @extend .btn_styles;

  width: 74px;
  line-height: 24px;
  border-radius: 4px;
  border: solid 1px #d8dde6;
  font-size: 12px;
  letter-spacing: 0.4px;
  color: #0070d2;
  background: none;
  text-align: center;

  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
}

.orange_btn {
  @extend .btn_styles;

  line-height: 40px;
  border-radius: 4px;
  background-color: #ffa726;
  padding: 0 16px;
  font-size: 14px;
  letter-spacing: 0.5px;
  color: #4a4a4a;
  text-transform: uppercase;

  i {
    font-weight: normal;
    color: #4a4a4a;
    margin-right: 5px;
  }
  &:hover {
    background-color: #e69722;
    color: #2c2c2c;

    i {
      color: #2c2c2c;
    }
  }
}

.blue_btn {
  @extend .btn_styles;

  line-height: 40px;
  border-radius: 4px;
  background-image: linear-gradient(255deg, #0088ff, #0070d2);
  font-size: 16px;
  color: #fff;
  padding: 0 24px;

  &:hover {
    color: #fff;
    background-image: linear-gradient(255deg, #0068f0, #4545ed);
  }
}

.send_btn {
  @extend .btn_styles;

  background: none;
}

.panel-list {
  margin-bottom: 0;
  font-size: 0;
  letter-spacing: 0;

  .item {
    display: inline-block;

    .item_link {
      @extend .btn_styles;

      line-height: 32px;
      padding: 0 16px;
      background-color: #fff;
      font-size: 12px;
      letter-spacing: 0.2px;
      color: #54698d;
      @include media-breakpoint-down(xs) {
        padding: 0 10px;
      }
      &:not(.active):hover {
        background-color: #F2F2F2;
        color: #0062B8;
      }

      &.active {
        background-color: #c6eef8;
      }
    }
    &:first-of-type {
      .item_link {
        border-radius: 4px 0 0 4px;
        border: solid 1px #d8dde6;
      }
    }
    &:not(:first-of-type) {
      .item_link {
        border: solid 1px #d8dde6;
        border-left: none;
      }
    }
    &:last-of-type {
      .item_link {
        border-radius: 0 4px 4px 0;
      }
    }
  }
}
