.comment-form {
  border-radius: 8px;
  background-color: #f2f8ff;
  margin: 0 0 24px;
  padding: 16px;

  p {
  	margin: 0;
  }
	.avatar-col {
		padding: 0;

		img {
			max-width: 40px;
			width: 100%;
			border-radius: 50%;
		}
	}
	textarea {
	  border-radius: 4px;
	  background-color: #fff;
	  border: solid 1px #a8b7c7;
	  padding: 8px 16px 12px;
		overflow: hidden;
		width: 100%;

		&:focus {
			outline: none;
		}
	}
	.btn-col {
		padding: 0;
		display: flex;
		margin-top: auto;
		margin-bottom: 9px;
	}
}


.comment.depth-1 {
	margin: 0 0 0 16px;

	&:not(:last-of-type) {
		margin: 0 0 16px 16px;
		border-bottom: solid 0.8px #e9e9e9;
	}
	.comment-body {
		.info-col {
			width: 48px;
			text-align: center;
			padding: 0;
		}
		.best_answer {
			i {
				color: #7ed321;
			}
		}
		.upvotes {
			margin-bottom: 16px;

			.upvote,
			.downvote {
				@extend .btn_styles;

				background: none;

				i {
					color: #a8b7c7;
				}

				&.disabled {

				}
			}
			.upvote, .votes {
				margin-bottom: 8px;
			}
			.votes {
			  font-size: 16px;
			  color: #4a4a4a;
			}
		}
	}
	.get_best_answer-row {
		margin: 0;
	  height: 40px;
	  border-radius: 8px;
	  background-color: #f2f8ff;
	  margin-bottom: 16px;

	  .question {
	  	display: inline-block;
		  font-size: 14px;
		  color: #4a4a4a;
		  margin-right: 16px;
	  }
	  button {
	  	width: 74px;
	  	line-height: 24px;

			&:first-of-type {
				margin-right: 14px;
			}
	  }
	}
  .collapse_link {
  	span {
		  font-size: 14px;
		  line-height: 1.14;
		  color: #0070d2;
		  margin-bottom: 12px;
		  display: inline-block;
  	}

	  img {
	  	margin-left: 8px;
	  }
  }
}
.comment.depth-2 {
	&:not(:last-of-type) {
		margin-bottom: 16px;
		border-bottom: solid 0.8px #e9e9e9;
	}
}
.comment-meta {
	display: flex;
	margin-bottom: 8px;

	img {
		max-width: 40px;
		width: 100%;
		border-radius: 50%;
		margin-right: 8px;
	}
}
.comment-content,
.comment-content * {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.2px;
  color: #4a4a4a;
  margin-bottom: 12px;

  p {
  	margin: 0;
  }
}


.must-log-in, .comments_closed {
  border-radius: 8px;
  background-color: #f2f8ff;
  padding: 28px 16px;
  text-align: center;
  font-size: 16px;
  color: #4a4a4a;
  margin-bottom: 24px;

  a {
  	color: #0070d2;
  }
}

.comment-awaiting-moderation {
	font-size: 12px;
	margin-left: 12px;
	line-height: 20px;
}
