#events_menu {
	width: 210px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.16);

	.events-list {
		margin: 0;

		.item {
			&:not(:last-of-type) {
				border-bottom: solid 1px #d8dde6;
			}
			.item_link {
				display: table-cell;
				vertical-align: middle;
				height: 55px;
				padding: 0 16px;
				font-family: Helvetica;
				font-size: 12px;
				line-height: 1.17;
				letter-spacing: 0.1px;
				color: #4a4a4a;

				span {
					color: #0070d2;
				}
			}
		}
	}
}
