
//	Вспомогательные классы Left Right
.open_favourites_menu.left{
	.favourites_menu{
		left: 0;
	}
}

.open_favourites_menu.right{
	.favourites_menu{
		right: 0;
	}
}

.open_favourites_menu.add{
	.ico_wr {
		&:before{
			content: "\f067";
		}
	}
}

.open_favourites_menu.remove{
	.ico_wr {
		&:before{
			content: "\f068";
		}
	}
}

//	Само меню
.open_favourites_menu {
	position: relative;
	display: inline-block;

	.favourites_menu {
		display: none;
		z-index: 5;
		position: absolute;
		width: 352px;

		.content {
			margin-top: 10px;
			width: 100%;
			background-color: #fff;
			border: solid 1px #e0e5ee;
			box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.16);
			font-size: 12px;
			border-radius: 6px;

			.mnu_el {
				list-style: none;
				margin: 0;
				padding: 0;

				li{
					display: block;
					padding: 0 16px;
				}

				.mnu_top_wr {
					padding-top: 20px;
					padding-bottom: 12px;

					.top-wr-el {
						display: flex;
						align-items: center;

						.ico_wr {
							display: inline-block;
							margin-right: 8px;
							width: 16px;
							height: 16px;
							border: 1px solid #e0e5ee;
							border-radius: 4px;
							text-align: center;
							&:before{
								font-family: "Font Awesome 5 pro";
								display: inline-block;
								font-size: 10px;
								margin-top: 2px;
								color: #0070d2;
							}
						}
					}
				}

				.mnu_text_wr{
					line-height: 1.33;
				}

				.mnu_line{
					padding: 0 0;
					margin: 10px 0;
					border-bottom: 1px solid #d8dde6;
				}

				.mnu_bot_wr{
					padding-bottom: 8px;
					.bot_title{
						display: inline-block;
					}
					.bot_number{
						display: inline-block;
					}
				}
			}
		}
	}

	.item_link {

		&:before,
		&:after {
			content: '';
			position: absolute;
			border-style: solid;
			left: 50%;
			transform: translateX(-50%);
			display: none;
		}
		&:before {
			z-index: 6;
			border-color: transparent transparent #fff;
			border-width: 11px;
			top: calc(100% + 4px - 11px);
		}
		&:after {
			z-index: 0;
			border-color: transparent transparent rgba(0, 0, 0, 0.05);
			border-width: 13px;
			top: calc(100% - 11px);
		}
	}
	&:hover {
		@include media-breakpoint-up( sm ) {
			.favourites_menu{
				display: block;
			}
			.item_link {
				&:before,
				&:after {
					display: block;
				}
			}
		}
	}
}
