.first_footer {
	padding: 36px 0 64px;
	background-image: linear-gradient(278deg, #1856dc, #09bdec);

	.first-col {
		ul {
			li {
				&:not(:last-of-type) {
					margin-bottom: 8px;
				}

				a {
				  font-size: 16px;
				  letter-spacing: 0.4px;
				  color: #fff;
		      line-height: 1.4;
				}
			}
		}
	}
	.second-col {
		ul {
			li {
				&:not(:last-of-type) {
					margin-bottom: 8px;
				}

				a {
				  font-size: 16px;
				  letter-spacing: 0.4px;
				  color: #fff;
				  line-height: 1.4;
				}
			}
		}
	}
	.third-col {
		* {
		  font-size: 10px;
		  line-height: 1.6;
		  letter-spacing: 0.3px;
		  color: #fff;
		}
	  p {
			margin: 0;
	  }
	}
}
.second_footer {
	padding: 18px 0 21px;
	background-color: #f7f7f7;

	.content * {
	  font-size: 14px;
	  color: #4a4a4a;

	  p {
			margin: 0;
	  }
	}
}