.info-block {
	display: flex;
	align-items: center;

	.user_thumbnail {
		width: 40px;
		height: 40px;
		margin-right: 8px;
		border-radius: 50%;
		overflow: hidden;

		img {
			width: 100%;
		}
	}
	.author {
		display: flex;
		align-items: center;
		margin-bottom: 8px;

		.name {
		  font-size: 16px;
		  letter-spacing: 0.2px;
		  text-align: left;
		  color: #3f3f3f;
		  margin-right: 12px;
		}
		.position {
		  font-size: 10px;
		  line-height: 16px;
		  height: 16px;
		  letter-spacing: 0.4px;
		  color: #fff;
		  background-color: #ffa726;
		  padding: 0 8px;
		  border-radius: 4px;
		}
	}
	.date,
	.date * {
	  font-size: 12px;
	  letter-spacing: 0.2px;
	  text-align: left;
	  color: #a8b7c7;
	}
	.date {
		display: inline-block;
	}
	#display_rating {
		margin-right: 6px;
		display: inline-block;

		span {
			font-size: 10px;

			&:not(:last-of-type) {
				margin-right: 2px;
			}
		}
	}
}
