.input-col {
	label {
		display: block;
		color: #4a4a4a;
		font-size: 12px;
		margin-bottom: 4px;

		i {
			display: none;
			color: #c23934;
		}
	}
	input {
		&[type="text"],
		&[type="email"],
		&[type="password"] {
			width: 100%;
			height: 40px;
		  border-radius: 4px;
		  border: solid 1px #a8b7c7;
		  background-color: #fff;
		  padding: 0 16px;

		  &:focus {
		  	border: solid 1px #0070d2;
		  	box-shadow: 0 0 3px 0 rgba(0, 118, 222, 0.5);
		  }
		}
	}
	.input.wrong {
		position: relative;

		label {
			i {
				display: inline;
			}
		}
		input {
			&[type="text"],
			&[type="email"],
			&[type="password"] {
				border: solid 2px #c23934;
			}
		}
		.error_message {
			position: absolute;
			top: calc(100% + 8px);
			width: 100%;
			text-align: right;
			font-size: 11px;
			letter-spacing: 0.2px;
			color: #c23934;
		}
	}
}

.checkbox,
.radio {
  display: block;
  position: relative;
  cursor: pointer;
  user-select: none;
  padding-left: 32px;

  input {
    display: none;

		&:checked ~ .checkmark:after {
	    display: block;
		}
  }
	.checkmark {
	  position: absolute;
	  width: 16px;
	  height: 16px;
	  top: 0;
	  left: 0;
  	border: solid 1px #d8dde6;

		&:after {
	    content: '';
	    position: absolute;
	    display: none;
	    z-index: 1;
	  }
	}
}
.checkbox .checkmark {
  border-radius: 2px;

  &:after {
  	top: 1px;
  	width: 100%;
		content: '\f00c';
		font-family: 'Font Awesome 5 Pro';
		font-size: 12px;
	  color: #0070d2;
	  text-align: center;
	}
}
.radio .checkmark {
  border-radius: 50%;

  &:after {
  	top: 3px;
  	left: 3px;
  	width: 8px;
	  height: 8px;
	  border-radius: 50%;
	  background-color: #0070d2;
	}
}
