.widget.widget_liability_disclaimer {
  border-radius: 4px;
  background-color: #fff;
  border: solid 1px #d8dde6;
  padding: 12px 16px 24px;

  .widget_title {
	  font-size: 14px;
	  font-weight: bold;
	  letter-spacing: 0.2px;
	  color: #4a4a4a;
	  margin-bottom: 16px;
  }
  #liability_disclaimer,
  #liability_disclaimer * {
	  font-size: 10px;
	  line-height: 1.4;
	  letter-spacing: 0.2px;

	  p {
	  	margin: 0;

	  	&:not(:last-of-type) {
	  		margin-bottom: 16px;
	  	}
	  }
  }
}
