// Multiselect
.multiselect{
	position: relative;
	border-radius: 4px;
	border: solid 1px #a8b7c7;
	min-height: 80px;

	.display{
		padding: 3px;
		overflow: hidden;
		font-size: 0;
    letter-spacing: 0;

		.span_wrapper{
			display: inline;
			font-size: 0;
 		  letter-spacing: 0;
 		  vertical-align: top;

			.item{
				display: inline-block;
				line-height: 24px;
				padding-left: 8px;
				padding-right: 8px;
				margin-right: 4px;
				margin-bottom: 4px;
				border-radius: 4px;
				border: solid 1px #d8dde6;
				background-color: #f7faff;
			  font-size: 12px;
			  color: #0070d2;

			  .remove {
			  	margin-left: 8px;
			  	font-size: 8px;
			  	color: #4a4a4a;
			  	vertical-align: middle;
			  }
			}
		}
		.search {
			border: none;
			outline: none;
			width: 50px;
			line-height: 24px;
		  font-size: 16px;
		  color: #4a4a4a;
		  padding: 0 8px;
		  margin-bottom: 4px;
		}
	}
	ul{
		position: absolute;
		top: calc(100% + 1px);
		left: 0;
		width: 320px;
		max-width: 100%;
		height: auto;
		padding: 8px 0;
		list-style: none;
		border-radius: 4px;
		border: solid 1px #d8dde6;
		background-color: #fff;
	  box-shadow: 0 2px 3px 0 rgba(84, 105, 141, 0.5);
		z-index: 2;

		&.disabled {
			display: none;
		}
		li{
			font-size: 16px;
			text-align: left;
			color: #2b2e43;

			&.disabled {
				display: none;
			}
			label {
				display: block;
				line-height: 30px;
				padding: 0 16px;
			  font-size: 12px;
			  line-height: 2.83;
			  letter-spacing: 0.2px;
			  color: #4a4a4a;
			  cursor: pointer;

				&:hover {
					background-color: #f0f8fc;
					color: #000;
				}
				input{
					// margin-right: 7px;
					display: none;
				}
			}

		}
	}
}
