#navigation {
  position: relative;
  background-color: #fff;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    top: calc(100% - 4px);
    left: 0;
    width: 100%;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2);
    height: 4px;
    z-index: 3;
  }
  &.fixed {
    position: fixed;
    z-index: 10;
    width: 100%;
  }
  .menu-row {
    position: relative;
    height: 64px;

    @include media-breakpoint-down(xs) {
      .signup-col {
        display: none;
      }
    }
    @include media-breakpoint-down(sm) {
      // padding: 0 16px;

      .menu-col,
      .login-col {
        padding: 0;
      }
    }
    .logo-col {
      @include media-breakpoint-down(md) {
        padding: 0;
      }
    }
    .toggler-col {
      display: flex;
      align-items: center;
      padding-right: 0;

      @include media-breakpoint-up(lg) {
        display: none;
      }
      .navbar-toggler {
        @extend .btn_styles;

        margin-right: 14px;

        i {
          color: #0070d2;
          transform: rotate(90deg);
        }
        &[aria-expanded="false"] {
          i {
            transform: rotate(00deg);
          }
        }
      }
    }
    .menu-col {
      @include media-breakpoint-down(sm) {
        width: 0;
      }
      .search {
        @extend .custom_searchform;

        display: block;
        margin: 24px 28px 12px;

        @include media-breakpoint-up(md) {
          display: none;
        }
      }
    }
    .search-col {
      @extend .custom_searchform;

      display: none;

      @include media-breakpoint-up(lg) {
        display: block;
      }
    }

    .login_btn:hover {
      color: #0062b8;
    }

    .signup_menu_btn:hover {
      background-color: rgba(0, 0, 0, 0.05);;
      color: #0062b8;
      transition: 0.25s ease background-color, color;
    }

    .login_btn,
    .signup_menu_btn {
      @extend .btn_styles;

      line-height: 32px;
      vertical-align: middle;
      border-radius: 4px;
      padding: 0 20px;
      font-size: 14px;
      letter-spacing: 0.5px;
      color: #0070d2;
      text-transform: uppercase;

      @include media-breakpoint-down(sm) {
        padding: 0 16px;
      }
      &.active {
        border: solid 1px #d8dde6;
      }
    }
    .notifications-col {
      position: relative;
      height: 100%;
      display: flex;
      align-items: center;
      padding: 0 12px 0 0;

      .notifications_toggler {
        @extend .btn_styles;

        position: relative;
        background: none;
        overflow: visible;

        &[aria-expanded=true] {
          &:before,
          &:after {
            content: '';
            position: absolute;
            border-style: solid;
            left: 50%;
            transform: translateX(-50%);
          }
          &:before {
            z-index: 5;
            border-color: transparent transparent #fff;
            border-width: 8px;
            top: calc(100% + 6px);
          }
          &:after {
            z-index: 0;
            border-color: transparent transparent rgba(0, 0, 0, 0.05);
            border-width: 13px;
            top: 100%;
          }
        }
        .fa-bell {
          color: #d8dde6;
          font-size: 18px;
        }
        .fa-circle {
          display: none;
          position: absolute;
          bottom: 2px;
          right: -2px;
          font-size: 8px;
          color: #d145a8;
        }
        &.active {
          .fa-bell {
            color: #0062b8;
          }
          .fa-circle {
            display: block;
          }
        }
      }
      #notifications_menu {
        position: absolute;
        top: 100%;
        left: -20px;
        z-index: 4;
      }
    }
    .users-col {
      position: relative;
      height: 100%;
      display: flex;
      align-items: center;
      padding-left: 0;

      .users_toggler {
        @extend .btn_styles;

        position: relative;
        background: none;
        overflow: visible;
        display: flex;
        align-items: center;

        &[aria-expanded=true] {
          &:before,
          &:after {
            content: '';
            position: absolute;
            border-style: solid;
            left: 70%;
            transform: translateX(-50%);
          }
          &:before {
            z-index: 5;
            border-color: transparent transparent #fff;
            border-width: 9px;
            top: calc(100% - 2px);
          }
          &:after {
            z-index: 0;
            border-color: transparent transparent rgba(0, 0, 0, 0.05);
            border-width: 13px;
            top: calc(100% - 8px);
          }
        }
        .user_thumbnail {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          overflow: hidden;
        }
        .user_name {
          display: none;
          width: 112px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          margin-left: 8px;
          text-align: left;

          @include media-breakpoint-up(md) {
            display: block;
          }
        }
      }
      #users_menu {
        position: absolute;
        top: 100%;
        right: 0;
        z-index: 4;
      }
    }
  }
}