#notifications_menu {
	width: 210px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.16);

	.events-list {
		margin: 0;

		.item {
			display: table;
			width: 100%;

			&:not(:last-of-type) {
				border-bottom: solid 1px #d8dde6;
			}
			.top_item {
				display: table-cell;
				vertical-align: middle;
				height: 20px;
				padding: 0 16px;
				text-align: right;

				.ajax_read_notifications {
					font-family: Helvetica;
					font-size: 10px;
					line-height: normal;
					letter-spacing: 0.1px;
					color: #0070d2;

					&:hover {
						color: #0062B8;
					}
				}
			}
			.bottom_item {
				display: table-cell;
				vertical-align: middle;
				height: 28px;
				padding: 0 16px;
				text-align: center;
				background-color: #e9f1fb;

				.more {
					font-family: Helvetica;
					font-size: 14px;
					line-height: 0.86;
					letter-spacing: 0.1px;
					color: #0070d2;

					&:hover {
						color: #0062B8;
					}
				}
			}
			.item_link,
			.item_text {
				display: table-cell;
				vertical-align: middle;
				height: 55px;
				padding: 0 16px;
				font-family: Helvetica;
				font-size: 12px;
				line-height: 1.17;
				letter-spacing: 0.1px;
				color: #4a4a4a;

				span {
					color: #0070d2;
				}
			}
			&:hover .item_link,
			&:hover .item_text {
				background-color: #f7fbff;
			}
			&.unreaded {
				.item_link,
				.item_text {
					background-color: #f2f8ff;
				}
				&:hover .item_link,
				&:hover .item_text {
					background-color: #d8e9ff;
				}
			}

		}
	}
}
