#nsl-notices-fallback {
  top: 32px !important;
  right: 0 !important;
  z-index: 10000;
  width: 100% !important;
  margin-right: auto !important;
  margin-left: auto !important;
  @media (max-width: 782px) {
    top: 46px !important;
  }

  & > div {
    position: relative !important;
    background: none !important;
    box-shadow: none !important;
    margin: 0 !important;
    padding: 0 !important;
    border-radius: 4px !important;
    max-width: 400px !important;
    margin-left: auto !important;
    margin-right: auto !important;

    @media (max-width: 320px) {
      max-width: 100% !important;
    }
  }
  & > div.error {
    border: none !important;
    background-color: #e2689a !important;
  }
  & > div.error:before {
    position: absolute;
    content: "\f057";
    font-family: 'Font Awesome 5 Pro';
    left: 16px;
    top: 8px;
    color: #fafafa;
    font-size: 24px;
    font-weight: 900;
  }
  & > div.updated {
    border: none !important;
    background-color: #04844b !important;
  }
  & > div.updated:before {
    position: absolute;
    content: "\f058";
    font-family: 'Font Awesome 5 Pro';
    left: 16px;
    top: 8px;
    color: #fafafa;
    font-size: 24px;
    font-weight: 900;
  }
  & p {
    min-height: 40px;
    font-size: 12px;
    font-weight: normal !important;
    font-style: normal !important;
    font-stretch: normal !important;
    line-height: 1.67 !important;
    letter-spacing: 0.2px !important;
    text-align: left !important;
    color: #fafafa !important;
    margin: 0 !important;
    padding: 9px 41px 9px 55px !important;
  }
  & > div:after {
    content: "\f00d" !important;
    font-family: 'Font Awesome 5 Pro';
    font-weight: normal !important;
    line-height: 1 !important;
    right: 16px !important;
    top: 8px !important;
    color: #fafafa !important;
    font-size: 24px !important;
  }
}