@import 'components/popups/question_editor';
@import 'components/popups/registration';
@import 'components/popups/login';
@import 'components/popups/confirm_email';
@import 'components/popups/email_confirmed';
@import 'components/popups/restore_password';
@import 'components/popups/new_password';
@import 'components/popups/remove_question';

.fancybox-container.bg-no .fancybox-bg {
	background: none;
}
.fancybox-slide {
	padding: 0;

	.fancybox-container {
		.message {
			padding-top: 30px;
		}
	}
}
.admin-bar {
	.fancybox-slide {
		padding-top: 46px;

		@media (min-width: 782px) {
			padding-top: 32px;
		}
	}
}
.fancybox-navigation {
	display: none;
}

