.rating_inputs {
  display: inline-block;
  position: relative;
  line-height: 16px;
  font-size: 16px;
  margin-bottom: 14px;

  &:not(:hover) label input:checked,
  &:hover label:hover input {
    & ~ .icon {
      &:after {
        color: #f4d931;
        font-weight: 900;
      }
    }
    & ~ .description {
      display: block;
    }
  }
  label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    cursor: pointer;
    margin: 0;

    &:last-child {
      position: static;

      .icon {
        &:after {
          color: #f4d931;
        }
      }
    }
    &:nth-child(1) {
      z-index: 5;
    }
    &:nth-child(2) {
      z-index: 4;
    }
    &:nth-child(3) {
      z-index: 3;
    }
    &:nth-child(4) {
      z-index: 2;
    }
    &:nth-child(5) {
      z-index: 1;
    }
    input {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;

      &:focus:not(:checked) ~ .icon:last-child {
        &:after {
          color: #f4d931;
        }
      }
    }
    .icon {
      float: left;
      margin-right: 5px;

      &:after {
        color: transparent;
        content: '\f005';
        font-family: 'Font Awesome 5 Pro';
      }
    }
    .description {
      display: none;
      float: right;
      position: absolute;
      left: 120px;
    }
  }
}