.ajax_registration {
	.google_btn,
	.facebook_btn {
	  margin-bottom: 12px;
	}
	.or-col {
		text-align: center;
		margin-bottom: 12px;
		color: #fafafa;
	}
	.input-col {
		margin-bottom: 16px;

		&.last {
			margin-bottom: 24px;
		}
		label {
			color: #fff;
		}
	}
	.info {
	  font-size: 12px;
	  line-height: 1.67;
	  letter-spacing: 0.2px;
	  color: #fafafa;
	  margin-bottom: 24px;
	}
}
