.tags-list {
	display: inline-block;
	margin-right: 12px;
	line-height: 26px;
	font-size: 0;

	.item {
		display: inline-block;
		margin-right: 8px;

	  &:last-of-type {
	  	margin-right: 0;
	  }
	  .item_link {
	  	display: inline-block;
		  font-size: 10px;
		  line-height: 16px;
		  padding: 0 12px;
		  border-radius: 4px;

	  	&.blue {
			  color: #fff;
			  background-color: #0070d2;
			  border: 1px solid #0070d2;

			  &:hover {
			  	background-color: darken(#0070d2, 5%);
			  }
	  	}
			&.red {
			  color: #fff;
			  background-color: #e33c36;
			  border: 1px solid #e33c36;

			  &:hover {
			  	background-color: darken( #e33c36, 5%);
			  }
			}
			&.white {
				color: #4a4a4a;
				border: 1px solid #d8dde6;

			  &:hover {
			  	background-color: #f2f2f2;
			  }
			}
	  }
	}
}
