#top_users {
	margin-bottom: 16px;

	.item {
		&:not(:last-of-type) {
			margin-bottom: 16px;
		}
		.item_link {
			display: flex;
			align-items: center;

			.user_position,
			.user_name {
			  font-size: 16px;
			  line-height: 0.06;
			  letter-spacing: 0.2px;
			  color: #4a4a4a;
			}
			.user_position {
				margin-right: 8px;
			}
			.user_thumbnail {
				width: 36px;
				height: 36px;
				margin-right: 8px;

				img {
					width: 100%;
				}
			}
		}
	}
}
