#top_reviews {
	margin-bottom: 16px;

	.item {
	  border-radius: 8px;
	  background-color: #fff;
	  border: solid 1px #d8dde6;
	  border-top: 0;

		&:not(:last-of-type) {
			margin-bottom: 24px;
		}
		.thumbnail {
			margin-bottom: 8px;

			img {
				width: 100%;
				border-radius: 8px 8px 0 0;
			}
		}
	  #display_rating {
			margin-bottom: 16px;
			display: inline-block;

			span {
				font-size: 10px;

				&:not(:last-of-type) {
					margin-right: 2px;
				}
			}
		}
		.title {
			position: relative;
		  font-size: 20px;
		  line-height: 28px;
		  letter-spacing: 0.2px;
		  color: #4a4a4a;
			display: -webkit-box;
			-webkit-line-clamp: 4;
			-webkit-box-orient: vertical;
			overflow: hidden;
			max-height: calc(4 * 28px);
			padding: 0 16px;
			margin-bottom: 12px;

			&:before {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				height: 70%;
				width: 100%;
				background-image: linear-gradient(to top, #fff, rgba(255, 255, 255, 0));
			}
		}
		.more_btn {
			margin-bottom: 16px;
		}
	}
}
