#users_menu {
	width: 150px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.16);

	.users-list {
		margin: 0;

		.item {
			&:not(:last-of-type) {
				border-bottom: solid 1px #d8dde6;
			}
			.item_link {
				display: table-cell;
				vertical-align: middle;
				height: 48px;
				padding: 0 16px;
				font-family: Roboto;
				font-size: 12px;
				letter-spacing: 0.4px;
				text-transform: uppercase;
				color: #0070d2;

				i {
					color: #0062b8;
					margin-right: 2px;
					font-weight: 900;
				}
			}
		}
	}
}
