#header-section {
	position: relative;
	overflow: hidden;
	padding: 32px 0;
	background-image: linear-gradient(289deg, #1856dc, #09bdec);

	@include media-breakpoint-up(sm) {
		padding: 48px 0;
	}
	.section_title {
		font-size: 36px;
		font-weight: bold;
		letter-spacing: -0.1px;
		color: #fafafa;
		margin-bottom: 20px;

		@include media-breakpoint-up(sm) {
			font-size: 64px;
			margin-bottom: 32px;
		}
		@include media-breakpoint-up(md) {
			font-size: 76px;
			margin-bottom: 36px;
		}
	}
	.text {
		max-width: 450px;

	  p {
	  	margin-bottom: 16px;

		  @include media-breakpoint-up(sm) {
				margin-bottom: 24px;
		  }
	  }
	}
	.text,
	.text p {
	  font-size: 12px;
	  line-height: 1.5;
	  letter-spacing: 0.2px;
	  color: #fafafa;

	  @include media-breakpoint-up(sm) {
			font-size: 16px;
	  }
	}
	.transparent_btn.popup_link {
		color: #fff;

	  @include media-breakpoint-up(lg) {
	  	display: none;
	  }
	}
	.ajax_registration {
		display: none;

	  @include media-breakpoint-up(lg) {
	  	display: block;
	  }
	}


	//***** Circles *****//
	.circle_1 {
		position: absolute;
		width: 480px;
		height: 480px;
		border-radius: 50%;
		opacity: 0.1;
		background-image: linear-gradient(297deg, #1b3bd8, #176ce0 31%, #0b92e7 49%, #0bb6eb 71%, #00e0f2);
		top: 0;
		left: 0;
		transform: translateX(-30%) translateY(-50%);
	}
	.circle_2 {
		position: absolute;
		width: 61px;
		height: 61px;
		border-radius: 50%;
		opacity: 0.09;
		background-image: linear-gradient(140deg, #1b3bd8, #176ce0 31%, #0b92e7 49%, #0bb6eb 71%, #00e0f2);
		bottom: 15.5%;
		left: 8.5%;
	}
	.circle_3 {
		position: absolute;
		width: 92px;
		height: 92px;
		border-radius: 50%;
		opacity: 0.26;
	  background-image: linear-gradient(to right, #4268cb, #4b7ce0 19%, #57bee8 51%, #57bee8 91%, #67d9d4);
		top: 17.5%;
		right: 32%;
	}
	.circle_4 {
		position: absolute;
		width: 470px;
		height: 470px;
		border-radius: 50%;
	  opacity: 0.15;
	  background-image: linear-gradient(273deg, #1b3bd8, #176ce0 31%, #0b92e7 49%, #0bb6eb 71%, #00e0f2);
		bottom: 0;
		right: 0;
		transform: translateX(30%) translateY(30%);
	}
	.circle_5 {
		position: absolute;
		width: 107px;
		height: 107px;
		border-radius: 50%;
	  opacity: 0.23;
	  background-image: linear-gradient(to right, #4268cb, #4b7ce0 19%, #57bee8 51%, #57bee8 91%, #67d9d4);
		bottom: 41%;
		right: 6%;
	}
}
