.content-settings {
  &.account {
    border-radius: 8px;
    background-color: #fff;
    border: solid 1px #d8dde6;
    padding: 16px 16px 24px;

    .page_title {
      font-size: 18px;
      font-weight: bold;
      line-height: 1.78;
      letter-spacing: 0.4px;
      color: #e2689a;
      text-transform: uppercase;
      margin-bottom: 12px;
    }
    .selected_avatar {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      width: 64px;
      height: 64px;
      margin-bottom: 16px;
    }
    .change_avatar_link {
      display: inline-block;
      position: relative;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.3px;
      color: #0070d2;
      margin-bottom: 20px;
      overflow: hidden;

      &:hover {
        cursor: pointer;
      }
      .change_avatar {
        position: absolute;
        top: 0;
        left: -200%;
        height: 100%;
        width: 300%;
        opacity: 0;
        z-index: 1;
        cursor: pointer;
      }
    }
    #ajax_account_settings {
      max-width: 600px;

      .input-col {
        margin-bottom: 20px;

        &.last {
          margin-bottom: 24px;
        }
      }
      hr {
        border-top: solid 1px #d8dde6;
        margin-top: 0;
        margin-bottom: 16px;
      }
      .change_password_popup_link {
        display: inline-block;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.3px;
        color: #0070d2;
        margin-bottom: 16px;
      }
      .social-col {
        margin-bottom: 16px;
        font-size: 16px;
        letter-spacing: 0.3px;
        color: #4a4a4a;

        &.last {
          margin-bottom: 40px;
        }

        img {
          margin-right: 6px;
        }
        .social_link {
          font-size: 14px;
          letter-spacing: 0.3px;
          color: #a8b7c7;

          &.active {
            color: #0070d2;
          }
        }
      }
      .blue_btn {
        width: 210px;
        max-width: 100%;
      }
    }
  }
}
