.content-settings {
  &.followers {
  	.row:not(:last-of-type) {
  		margin-bottom: 16px;

  		.item {
			  display: inline-block;
			  line-height: 24px;
			  border-radius: 4px;
			  background-color: #fff;
			  border: solid 1px #d8dde6;
			  font-size: 12px;
			  color: #0070d2;
			  padding: 0 8px;

			  .favorites_button.remove_question_from_favorites_link {
			  	display: inline-block;
			  	margin-left: 10px;
	  	    vertical-align: middle;
			  }
  		}
  	}
  }
}
