.content-settings {
  &.favorite_categories {
  	.content {
			border-radius: 8px;
			background-color: #fff;
			border: solid 1px #d8dde6;
			padding: 16px 16px 8px;
			margin-bottom: 36px;

			.page_title {
				font-size: 18px;
				font-weight: bold;
				line-height: 1.78;
				letter-spacing: 0.4px;
				color: #e2689a;
				text-transform: uppercase;
				margin-bottom: 12px;
			}

	  	.row {
	  		margin-bottom: 16px;

	  		.item {
				  display: inline-block;
				  line-height: 24px;
				  border-radius: 4px;
				  background-color: #fff;
				  border: solid 1px #d8dde6;
				  font-size: 12px;
				  color: #0070d2;
				  padding: 0 8px;

				  .remove_question_from_favorites_link {
				  	display: inline-block;
				  	margin-left: 10px;
		  	    vertical-align: middle;
				  }
	  		}
	  	}
  	}
  }
}
