#cookies_popup {
  @extend .container;

  position: fixed;
  left: 50%;
  padding: 0 16px;
  transform: translateX(-50%);
  min-height: 64px;
  background: none;

  .text {
    background-color: #54698d;
    position: relative;
    font-size: 12px;
    line-height: 1.67;
    letter-spacing: 0.2px;
    color: #d8dde6;
    padding: 16px 48px 16px 56px;
    border-radius: 4px;

    a {
      color: #a8b7c7;
      outline: none;

      &:hover {
        text-decoration: underline;
      }
    }
    &:before {
      content: "\f05a";
      font-family: fontawesome;
      top: 16px;
      position: absolute;
      color: #fafafa;
      left: 16px;
      font-size: 24px;
      line-height: 1;
    }
  }
  .fancybox-close-small {
    @extend .btn_styles;

    position: absolute;
    top: 16px;
    right: 32px;
    opacity: 1;

    i {
      font-size: 20px;
      color: #fff;
    }
  }
}