.fancybox-content#email_confirmed_popup {
	max-width: 100%;
  width: 690px;
  max-height: 100%;
  height: 530px;
  padding: 20px 16px 36px;

	.title {
	  font-size: 24px;
	  font-weight: bold;
	  letter-spacing: 0.5px;
	  line-height: 1.33;
	  text-align: center;
	  color: #e2689a;
	  text-transform: uppercase;
	  max-width: 310px;
	  margin: 0 auto 64px;
	}
	.close_popups_btn {
		@extend .blue_btn;

		width: 210px;
		padding: 0 16px;
		max-width: 100%;
	}
}
