.fancybox-content#registration_popup {
	max-width: 100%;
  width: 690px;
  padding: 20px 16px 36px;

	.title {
	  font-size: 24px;
	  font-weight: bold;
	  letter-spacing: 0.5px;
	  text-align: center;
	  color: #e2689a;
	  text-transform: uppercase;
	  margin-bottom: 36px;
	}
	.ajax_registration {
		width: 450px;
		max-width: 100%;
		margin: 0 auto;

		.or-col {
			color: #4a4a4a;
		}
		label {
			color: #4a4a4a;

			i {
				color: #c23934;
			}
		}
		.info {
		  color: #4a4a4a;
		}
		.blue_btn {
			width: 290px;
			max-width: 100%;
			margin-bottom: 18px;
		}
		.link-col {
			&:not(:last-of-type) {
				margin-bottom: 32px;
			}

			.link {
			  font-size: 14px;
			  line-height: 1.14;
			  color: #0070d2;
			}
		}
	}
}
