.widget.widget_interacting_drugs {

	.row{
		margin-right: -5.5px;
		margin-left: -5.5px;
	}
	.thumbnail{
		margin-bottom: 11px;
		img {
			width: 100%;
		}
	}
	.interacting-text {
		a{
		    font-weight: bold;
			font-size: 16px;
			color: #0070d2;
			line-height: 24px;
			letter-spacing: 0.16px;
		}
	}

	.interacting-discription {
		padding-right: 20px;
		span{
			font-size: 16px;
			color: #0070d2;
			line-height: 24px;
			letter-spacing: 0.16px;
		}
	}
	.colpadding{
		padding-right: 5.5px;
		padding-left: 5.5px;
		@media (max-width: 576px) {
			padding-bottom: 20px;
		}
	}

	.colpadding:nth-last-child(n+3){
		@media (max-width: 992px) {
			padding-bottom: 20px;
		}
	}
	.colpadding:last-child{
		@media (max-width: 576px) {
			padding-bottom: 0;
		}
	}
}

