.widget_top_pharmacies {
	margin-bottom: 16px;

	.date {
		line-height: 32px;
	  border-radius: 4px;
	  background-color: rgba(0, 0, 0, 0.05);
	  width: 100%;
	  margin-bottom: 24px;
	  font-size: 14px;
	  letter-spacing: 0.5px;
	  text-align: center;
	  color: #4a4a4a;
	}

	#top_pharmacies {
		.item {
		  border-radius: 8px;
		  background-color: #fff;
		  border: solid 1px #d8dde6;
		  border-top: 0;

			&:not(:last-of-type) {
				margin-bottom: 24px;
			}
			.thumbnail {
				position: relative;
				margin-bottom: 8px;

				img {
					width: 100%;
					border-radius: 8px 8px 0 0;
				}
			}
			.body {
				padding: 16px;

				.title {
				  font-size: 16px;
				  line-height: 1.5;
				  letter-spacing: 0.2px;
				  text-align: center;
				  color: #4a4a4a;
				  margin-bottom: 16px;
				}
				.gray_btn {
					font-size: 16px;
					width: 100%;
					margin-bottom: 8px;
					text-transform: uppercase;
				}
				.blue_btn {
					line-height: 32px;
					height: 32px;
					width: 100%;
				}
			  .discount_coupon {
				  border-radius: 4px;
				  border: solid 2px #ffa726;
				  padding: 8px;
				  margin: 16px auto 0;
				  width: 100%;

				  .title {
					  font-size: 14px;
					  letter-spacing: 0.1px;
					  color: #54698d;
					  text-transform: uppercase;
					  margin-bottom: 4px;
					  text-align: center;
				  }
				  .discount {
					  font-size: 24px;
					  letter-spacing: 0.2px;
					  color: #ffa726;
					  text-align: center;
				  }
			  }
			  .text {
			  	margin-top: 16px;
				  font-size: 12px;
				  line-height: normal;
				  letter-spacing: 0.1px;
				  text-align: center;
				  color: #a8b7c7;
			  }
			}
		}
	}
}
