body {
	#site-content {
		main {
			background-color: #f7f7f7;
			padding: 24px 0;

			@include media-breakpoint-up(lg) {
				padding: 28px 0;
			}
			@include media-breakpoint-up(xl) {
				padding: 32px 0;
			}
		}
	}
}
