/* Bootstrap Overrides */
[class^="note-icon-"]:before,
[class*=" note-icon-"]:before {
  display:inline-block;
  vertical-align:middle;
  font: normal normal normal 14px summernote;
  font-size: inherit;
  speak:none;
  text-decoration:inherit;
  text-transform:none;
  text-rendering:auto;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}



/* Icons */


.note-icon-align-center:before {
  content:"\f101";
}



.note-icon-align-indent:before {
  content:"\f102";
}



.note-icon-align-justify:before {
  content:"\f103";
}



.note-icon-align-left:before {
  content:"\f104";
}



.note-icon-align-outdent:before {
  content:"\f105";
}



.note-icon-align-right:before {
  content:"\f106";
}



.note-icon-align:before {
  content:"\f107";
}



.note-icon-arrow-circle-down:before {
  content:"\f108";
}



.note-icon-arrow-circle-left:before {
  content:"\f109";
}



.note-icon-arrow-circle-right:before {
  content:"\f10a";
}



.note-icon-arrow-circle-up:before {
  content:"\f10b";
}



.note-icon-arrows-alt:before {
  content:"\f10c";
}



.note-icon-arrows-h:before {
  content:"\f10d";
}



.note-icon-arrows-v:before {
  content:"\f10e";
}



.note-icon-bold:before {
  content:"\f10f";
}



.note-icon-caret:before {
  content:"\f110";
}



.note-icon-chain-broken:before {
  content:"\f111";
}



.note-icon-circle:before {
  content:"\f112";
}



.note-icon-close:before {
  content:"\f113";
}



.note-icon-code:before {
  content:"\f114";
}



.note-icon-col-after:before {
  content:"\f115";
}



.note-icon-col-before:before {
  content:"\f116";
}



.note-icon-col-remove:before {
  content:"\f117";
}



.note-icon-eraser:before {
  content:"\f118";
}



.note-icon-font:before {
  content:"\f119";
}



.note-icon-frame:before {
  content:"\f11a";
}



.note-icon-italic:before {
  content:"\f11b";
}



.note-icon-link:before {
  content:"\f11c";
}



.note-icon-magic:before {
  content:"\f11d";
}



.note-icon-menu-check:before {
  content:"\f11e";
}



.note-icon-minus:before {
  content:"\f11f";
}



.note-icon-orderedlist:before {
  content:"\f120";
}



.note-icon-pencil:before {
  content:"\f121";
}



.note-icon-picture:before {
  content:"\f122";
}



.note-icon-question:before {
  content:"\f123";
}



.note-icon-redo:before {
  content:"\f124";
}



.note-icon-row-above:before {
  content:"\f125";
}



.note-icon-row-below:before {
  content:"\f126";
}



.note-icon-row-remove:before {
  content:"\f127";
}



.note-icon-special-character:before {
  content:"\f128";
}



.note-icon-square:before {
  content:"\f129";
}



.note-icon-strikethrough:before {
  content:"\f12a";
}



.note-icon-subscript:before {
  content:"\f12b";
}



.note-icon-summernote:before {
  content:"\f12c";
}



.note-icon-superscript:before {
  content:"\f12d";
}



.note-icon-table:before {
  content:"\f12e";
}



.note-icon-text-height:before {
  content:"\f12f";
}



.note-icon-trash:before {
  content:"\f130";
}



.note-icon-underline:before {
  content:"\f131";
}



.note-icon-undo:before {
  content:"\f132";
}



.note-icon-unorderedlist:before {
  content:"\f133";
}



.note-icon-video:before {
  content:"\f134";
}
