@font-face {
    font-family: 'Roboto';
    src: url('../webfonts/Roboto-Regular.eot');
    src: url('../webfonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('../webfonts/Roboto-Regular.woff2') format('woff2'),
        url('../webfonts/Roboto-Regular.woff') format('woff'),
        url('../webfonts/Roboto-Regular.ttf') format('truetype'),
        url('../webfonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../webfonts/Roboto-Bold.eot');
    src: url('../webfonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('../webfonts/Roboto-Bold.woff2') format('woff2'),
        url('../webfonts/Roboto-Bold.woff') format('woff'),
        url('../webfonts/Roboto-Bold.ttf') format('truetype'),
        url('../webfonts/Roboto-Bold.svg#Roboto-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}


@font-face {
  font-family:"summernote";
src:url("../webfonts/summernote.eot");
src:url("../webfonts/summernote.eot?#iefix") format("embedded-opentype"),
		url("../webfonts/summernote.woff") format("woff"),
		url("../webfonts/summernote.ttf") format("truetype");
font-weight:normal;
font-style:normal;
}
